# Processing mixed beverage data

## Single-month sales report

This Jupyter Notebook uses data.texas.gov [Mixed Beverage Gross Receipts data](https://data.texas.gov/Government-and-Taxes/Mixed-Beverage-Gross-Receipts/naix-2893), and then a python library called [agate](http://agate.readthedocs.io/) to clean and process that data for [stories similar to this one](http://www.mystatesman.com/business/austin-alcohol-sales-percent-february/Oo2txZUkuDlqBl0rU9O1lJ/) on monthly alcohol sales.

There are two places where **last day of the month** has to be entered into the script, in YYYY-MM-DD format:
- `download_date` in the "Download" section
- `date_studied` in the "Setting up" section

For March 2018, use:

`2018-03-31`

Last run on: 2018-05-01

## Download

We're using the bash curl command to download our file from Socrata.

### Set download date

Make sure to set the `download_date` below to the last day of the month studied.

In [1]:
%%bash
download_date='2018-03-31'

socrata_data='https://data.texas.gov/resource/fp9t-htqh.json?'
socrata_limit='$limit=20000'
socrata_date='&$where=obligation_end_date_yyyymmdd%20=%20%27'$download_date'%27'
socrata_path=$socrata_data$socrata_limit$socrata_date

echo $socrata_path

curl -L -o ../mixbev-files/Mixed_Beverage_Gross_Receipts_$download_date.json \
$socrata_path

https://data.texas.gov/resource/fp9t-htqh.json?$limit=20000&$where=obligation_end_date_yyyymmdd%20=%20%272018-03-31%27

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 10.3M    0 10.3M    0     0   533k      0 --:--:--  0:00:19 --:--:--  536k

## Set date_studied

It is imporant to change `date_studied` to the last day of the month studied:

In [2]:
# this should be the same as the download_date above.
date_studied = '2018-03-31'

## Set up python

We'll import the python libraries we need, and then set the date_studied, which is important to find the right file.

In [3]:
# import libraries
import agate
# this surpresses the timezone warning
# Might comment out during development so other warnings
# are not surpressed
import warnings
warnings.filterwarnings('ignore')

## Import the file

We set the path name based on `date_studied` above. We import the raw data, forcing some data types.

In [4]:
# This is the source file, which should be donwloaded
file_path = '../mixbev-files/Mixed_Beverage_Gross_Receipts_' + date_studied + '.json'

# Setting up to force column types for some columns
specified_types = {
    'cover_charge_receipts': agate.Number(),
    'taxpayer_number': agate.Text(),
    'taxpayer_zip': agate.Text(),
    'taxpayer_county': agate.Text(),
    'location_number': agate.Text(),
    'location_address': agate.Text(),
    'location_zip': agate.Text(),
    'location_county': agate.Text(),
}

# this imports the file specified above, along with the proper types
mixbev_raw = agate.Table.from_json(file_path, column_types=specified_types)

# Uncomment below to peek at column names
# print(mixbev_raw)

## Cleaning bad columns

There is a problem with the Comptroller data where two columns are incorrectly labeled. They are NOT used in the analysis, but we'll fix them anyway. It could be that the Comptroller will fix these in the future.

In [5]:
# renames two columns that are labelled incorrectly from original data
mixbev_fixed = mixbev_raw.rename(column_names = {
        'tabc_permit_number': 'inside_outside_city_limits_code',
        'inside_outside_city_limits_code_y_n': 'tabc_permit',
    }
)

# Uncomment below to see changed columns
# print(mixbev_fixed)

In [6]:
# establish our table of record
mixbev = mixbev_fixed

## Create establishment column

We do this so we make sure we have single establishments instead of grouping trade names together from different addresses, like 'CHILI'S BAR & GRILL'.

In [7]:
# Concatenates the name and address
mixbev_establishment = mixbev.compute([
    ('Establishment', agate.Formula(agate.Text(), lambda row: '%(location_name)s (%(location_address)s)' % row))
])

# Uncomment line below to print Establishment to check what is looks like
# mixbev_establishment.select('Establishment').limit(5).print_table(max_column_width=80)

In [8]:
# Uncomment below to see column names
# print(mixbev_establishment)

## Import and merge counties lookup table

We do this to get county names. I got this list from the comptroller.

NOTE: Wisdom would suggest we join on the code column from counites, but the data.texas.gov data does not have the zero padding from those values, so I'm using the id column.

In [9]:
# importing countes.csv, ensuring that the 'code' column is text
counties = agate.Table.from_csv('../resource-files/counties.csv', column_types={
    'code': agate.Text(),
    'id': agate.Text()
})

# uncomment below to peek at the column names and an example
# print(counties)
# counties.limit(5).print_table()

# joines the counties table to the mixed bev cleaned data with establishments
mixbev_joined = mixbev_establishment.join(counties, 'location_county', 'id')

# uncomment below to see merged column names 
# print(mixbev_joined)

In [10]:
# get just the columns we need and rename county
# THIS is the finished, cleaned mixbev table
mixbev = mixbev_joined.select([
    'location_name',
    'location_address',
    'Establishment',
    'location_city',
    'location_state',
    'location_zip',
    'county',
    'total_receipts',
    'obligation_end_date_yyyymmdd'
]).rename(column_names = {
    'location_name' : 'Name',
    'location_address' : 'Address',
    'location_city': 'City',
    'location_state': 'State',
    'location_zip': 'Zip',
    'total_receipts' : 'Receipts',
    'county': 'County',
    'obligation_end_date_yyyymmdd': 'Report date'
})

# peek at the column names
print(mixbev)

| column        | data_type |
| ------------- | --------- |
| Name          | Text      |
| Address       | Text      |
| Establishment | Text      |
| City          | Text      |
| State         | Text      |
| Zip           | Text      |
| County        | Text      |
| Receipts      | Number    |
| Report date   | DateTime  |

## Location sums function

Because we want to get the top sellers in a bunch of cities and couties, we create a function so we don't have to repeat the code. This function allows us to pass in a city or county name to filter the monthly receipts table and then sum the Tax and Receipts columns. The result can then be acted on to print or aggreggate. It is used later in the file.

In [11]:
# function to group sales by a specific location
# City or County passed in should be ALL CAPS
# Location_type can be 'City' or 'County'

def location_sum(location_type, location):
    # Filters the data to the specified city
    location_filtered = mixbev.where(lambda row: row[location_type].upper() == location)

    # groups the data based on Establishment and location
    location_grouped = location_filtered.group_by('Establishment').group_by(location_type)
    # computes the sales based on the grouping
    location_summary = location_grouped.aggregate([
        ('Receipts_sum', agate.Sum('Receipts'))
    ])
    
    # sorts the results by most sold
    location_summary_sorted = location_summary.order_by('Receipts_sum', reverse=True)
    # prints the top 10 results
    
    return(location_summary_sorted)

## Data checking
I make sure I'm looking the correct month, and to make sure the number of records is not hitting my download limit.

In [12]:
# double-checking I'm looking at one month of data
mixbev_dates = mixbev.select('Report date').distinct('Report date')
print('This report date should equal your date_studied:\n')
mixbev_dates.print_table()
print('\nIf the number of records below is 20000, increase the download limit.')
print('\nNumber of records in table: {}'.format(
        len(mixbev))
     )

This report date should equal your date_studied:

|         Report date |
| ------------------- |
| 2018-03-31 00:00:00 |

If the number of records below is 20000, increase the download limit.

Number of records in table: 14876

## Top sales statewide

Because we want to group our results by more than one field and perform more than one aggregation, we'll do this a little differently. We'll use group_by to create a grouped table, then perform aggregations on that new table to compute the Tax and Receipts columns.

In [13]:
# summing sales statewide for month

print('Total statewide sales for this month are: {}\n'.format(
    mixbev.aggregate(agate.Sum('Receipts')) # <<< I should format the number better
))

# groups the data based on Establishment and City
mixbev_grouped = mixbev.group_by('Establishment').group_by('County').group_by('City')

# computes the sales based on the grouping
state_summary = mixbev_grouped.aggregate([
    ('Sales_sum', agate.Sum('Receipts'))
])

# sorts the results by most sold. We could probalby chain it above if we wanted to.
state_summary_sorted = state_summary.order_by('Sales_sum', reverse=True)

# prints the top 10 results
state_summary_sorted.limit(10).print_table(max_column_width=40)

Total statewide sales for this month are: 661985536

| Establishment                            | County  | City        | Sales_sum |
| ---------------------------------------- | ------- | ----------- | --------- |
| THREE NRG PARK (2000 SOUTH LOOP W)       | Harris  | HOUSTON     | 3,294,210 |
| ARAMARK SPORTS AND ENTERTAINMENT SERV... | Bexar   | SAN ANTONIO | 1,983,658 |
| GAYLORD TEXAN (1501 GAYLORD TRL)         | Tarrant | GRAPEVINE   | 1,917,263 |
| ARAMARK SPORTS & ENTERTAINMENT SER OF... | Harris  | HOUSTON     | 1,882,152 |
| HOSPITALITY INTERNATIONAL, INC. (2380... | Bexar   | SAN ANTONIO | 1,807,036 |
| LEVY RESTAURANTS AT TOYOTA CENTER (15... | Harris  | HOUSTON     | 1,725,335 |
| BOTTLED BLONDE- THE BACK YARD (501 N ... | Dallas  | DALLAS      | 1,566,593 |
| AT&T STADIUM (1 LEGENDS WAY)             | Tarrant | ARLINGTON   | 1,547,785 |
| LEVY RESTAURANTS (2500 VICTORY AVE)      | Dallas  | DALLAS      | 1,514,035 |
| THE POST OAK/MASTRO'S/WILLIE G'S (160... | Harris  | HOUSTON     | 1,219,258 |

## Austin sales and sums

With this, we reference the location_sum function above, and pass the type of location (City) and the name of the city (AUSTIN). At the same time, we limit number of recoreds in the return, and then print the results. We are basically stringing together a bunch of stuff at once.

In [14]:
# Austin total sales as s city
# This sums the grouped table, but it works

print('Total sales in Austin are: {}\n'.format(
    location_sum('City', 'AUSTIN').aggregate(agate.Sum('Receipts_sum'))
))

# uses the city_sum function to filter
austin = location_sum('City', 'AUSTIN')


# print the resulting table
print('Top sellers in Austin are:\n')
austin.limit(25).print_table(max_column_width=60, max_rows=None)

Total sales in Austin are: 80299454

Top sellers in Austin are:

| Establishment                                          | City   | Receipts_sum |
| ------------------------------------------------------ | ------ | ------------ |
| WLS BEVERAGE CO (110 E 2ND ST)                         | AUSTIN |    1,010,792 |
| UNBARLIEVABLE (76 RAINEY ST)                           | AUSTIN |      593,445 |
| ROSE ROOM/ 77 DEGREES (11500 ROCK ROSE AVE)            | AUSTIN |      570,246 |
| CONTAINER BAR (90 RAINEY ST)                           | AUSTIN |      551,097 |
| FAIRMONT AUSTIN HOTEL (101 RED RIVER ST)               | AUSTIN |      532,020 |
| THE DOGWOOD DOMAIN (11420 ROCK ROSE AVE STE 700)       | AUSTIN |      528,270 |
| W HOTEL AUSTIN (200 LAVACA ST)                         | AUSTIN |      496,913 |
| THE VOLSTEAD LOUNGE/HOTEL VEGAS (1500 E 6TH ST STE A)  | AUSTIN |      494,195 |
| SAN JACINTO BEVERAGE COMPANY LLC (98 SAN JACINTO BLVD) | AUSTIN |      491,791 |
| CHUPACABRA CANTINA / JACKALOPE (404 E 6TH ST)          | AUSTIN |      465,050 |
| BUNGALOW (92 RAINEY ST)                                | AUSTIN |      458,860 |
| SHAKESPEARE'S (314 E 6TH ST)                           | AUSTIN |      454,571 |
| ICENHAUER'S (83 RAINEY ST)                             | AUSTIN |      450,716 |
| LUSTRE PEARL (94 RAINEY ST)                            | AUSTIN |      441,059 |
| STUBB'S BAR-B-Q (801 RED RIVER ST)                     | AUSTIN |      440,134 |
| KUNG FU SALOON (11501 ROCK ROSE AVE STE 140)           | AUSTIN |      431,524 |
| TOP GOLF (2700 ESPERANZA XING)                         | AUSTIN |      429,971 |
| HOTEL VAN ZANDT (605 DAVIS ST)                         | AUSTIN |      415,950 |
| THE PALAZIO (501 E BEN WHITE BLVD)                     | AUSTIN |      407,853 |
| SALC. INC.(HILTON HOTEL) (500 E 4TH ST)                | AUSTIN |      399,014 |
| MAGGIE MAE'S - A BRITISH PUB INC (323 E 6TH ST)        | AUSTIN |      397,186 |
| EDDIE V'S PRIME SEAFOOD (301 E 5TH ST)                 | AUSTIN |      395,310 |
| GREEN LIGHT SOCIAL (720 W 6TH ST)                      | AUSTIN |      390,610 |
| DH BEVERAGE LLC (604 BRAZOS ST)                        | AUSTIN |      386,620 |
| LUCILLE (77 RAINEY ST)                                 | AUSTIN |      381,335 |

## More Central Texas cities
More of the same for different cities.

In [15]:
location_sum('City', 'BASTROP').limit(5).print_table(max_column_width=60)

| Establishment                                                | City    | Receipts_sum |
| ------------------------------------------------------------ | ------- | ------------ |
| OLD TOWN RESTURANT AND BAR/PINEY CREEK CHOP HOUSE (931 MA... | BASTROP |       72,787 |
| NEIGHBOR'S (601 CHESTNUT ST UNIT C)                          | BASTROP |       48,001 |
| CHILI'S GRILL & BAR (734 HIGHWAY 71 W)                       | BASTROP |       47,840 |
| BACK 9 (834 HIGHWAY 71 W)                                    | BASTROP |       37,305 |
| MORELIA MEXICAN GRILL (696 HIGHWAY 71 W STE 304)             | BASTROP |       30,478 |

In [16]:
location_sum('City', 'BEE CAVE').limit(3).print_table(max_column_width=60)

| Establishment                                         | City     | Receipts_sum |
| ----------------------------------------------------- | -------- | ------------ |
| WOODY TAVERN AND GRILL, INC. (12801 SHOPS PKWY # 100) | BEE CAVE |      115,325 |
| MAUDIE'S HILL COUNTRY, LLC (12506 SHOPS PKWY)         | BEE CAVE |      100,549 |
| HCG BEVERAGE, LLC (12525 BEE CAVE PKWY)               | BEE CAVE |       74,370 |

In [17]:
location_sum('City', 'BUDA').limit(3).print_table(max_column_width=60)

| Establishment                                               | City | Receipts_sum |
| ----------------------------------------------------------- | ---- | ------------ |
| BUCKS BACKYARD (1750 S FM 1626)                             | BUDA |      102,611 |
| WILLIE'S JOINT (824 MAIN ST)                                | BUDA |       76,258 |
| NATE'S AT BUDA MILL AND GRAIN, INC. (306 S MAIN ST STE 101) | BUDA |       70,126 |

In [18]:
location_sum('City', 'DEL VALLE').limit(3).print_table(max_column_width=60)

| Establishment                                                | City      | Receipts_sum |
| ------------------------------------------------------------ | --------- | ------------ |
| RYAN SANDERS SPORTS SERVICES, LLC (9201 CIRCUIT OF THE AM... | DEL VALLE |       95,866 |
| CLUB MIS AMIGOS (13820 FM 812)                               | DEL VALLE |        9,127 |
| RESTAURANTES JASMINES (2463 HIGWAY 71 E)                     | DEL VALLE |        5,030 |

In [19]:
location_sum('City', 'CEDAR PARK').limit(3).print_table(max_column_width=60)

| Establishment                                                | City       | Receipts_sum |
| ------------------------------------------------------------ | ---------- | ------------ |
| CHUY'S (4911 183A TOLL RD)                                   | CEDAR PARK |      162,967 |
| THE GROVE WINE BAR AND KITCHEN (1310 E WHITESTONE BLVD # ... | CEDAR PARK |      150,095 |
| LUPE TORTILLA MEXICAN RESTAURANT (4501 183A TOLL RD STE B)   | CEDAR PARK |      122,883 |

In [20]:
location_sum('City', 'DRIPPING SPRINGS').limit(3).print_table(max_column_width=60)

| Establishment                                             | City             | Receipts_sum |
| --------------------------------------------------------- | ---------------- | ------------ |
| TREATY OAK BREWING AND DISTILLING CO. (16604 FITZHUGH RD) | DRIPPING SPRINGS |      125,636 |
| FAMILY BUSINESS BEER COMPANY (19510 HAMILTON POOL RD)     | DRIPPING SPRINGS |      116,283 |
| CAMP LUCY (WHIM CATERING) (3509 CREEK RD)                 | DRIPPING SPRINGS |       71,035 |

In [21]:
location_sum('City', 'GEORGETOWN').limit(3).print_table(max_column_width=60)

| Establishment                        | City       | Receipts_sum |
| ------------------------------------ | ---------- | ------------ |
| EL MONUMENTO (205 W 2ND ST)          | GEORGETOWN |      104,164 |
| HARDTAILS (1515 N IH 35)             | GEORGETOWN |       76,644 |
| DOS SALSAS CAFE INC (1104 S MAIN ST) | GEORGETOWN |       74,613 |

In [22]:
location_sum('City', 'KYLE').limit(3).print_table(max_column_width=60)

| Establishment                                           | City | Receipts_sum |
| ------------------------------------------------------- | ---- | ------------ |
| CASA GARCIA'S MEXICAN RESTAURANT (5401 FM 1626 STE 300) | KYLE |       82,603 |
| EVO ENTERTAINMENT CENTER (3200 KYLE XING)               | KYLE |       54,704 |
| PAPA JACK'S (108 W CENTER ST)                           | KYLE |       35,585 |

In [23]:
location_sum('City', 'LAGO VISTA').limit(3).print_table(max_column_width=60)

| Establishment                                         | City       | Receipts_sum |
| ----------------------------------------------------- | ---------- | ------------ |
| THE GNARLY GAR (18200 LAKEPOINT CV)                   | LAGO VISTA |       63,942 |
| THE GRILLE AT HIGHLAND LAKES (20552 HIGHLAND LAKE DR) | LAGO VISTA |       25,421 |
| COPPERHEAD GRILL (6115 LOHMANS FORD RD)               | LAGO VISTA |       22,691 |

In [24]:
location_sum('City', 'LAKEWAY').limit(3).print_table(max_column_width=60)

| Establishment                                                | City    | Receipts_sum |
| ------------------------------------------------------------ | ------- | ------------ |
| THE GROVE WINE BAR AND KITCHEN (3001 RANCH ROAD 620 S)       | LAKEWAY |      124,341 |
| LAKEWAY RESORT AND SPA (101 LAKEWAY DR)                      | LAKEWAY |       96,059 |
| FLORES MEXICAN RESTAURANT (2127 LOHMANS CROSSING RD STE 318) | LAKEWAY |       68,066 |

In [25]:
location_sum('City', 'LEANDER').limit(3).print_table(max_column_width=60)

| Establishment                                          | City    | Receipts_sum |
| ------------------------------------------------------ | ------- | ------------ |
| BROOKLYN HEIGHTS PIZZERIA (3550 LAKELINE BLVD STE 135) | LEANDER |       64,077 |
| JARDIN DEL REY (703 S HIGHWAY 183)                     | LEANDER |       46,242 |
| TAPATIA JALISCO #3 LLC (651 N US 183)                  | LEANDER |       14,667 |

In [26]:
location_sum('City', 'LIBERTY HILL').limit(3).print_table(max_column_width=60)

| Establishment                                        | City         | Receipts_sum |
| ---------------------------------------------------- | ------------ | ------------ |
| JARDIN CORONA (15395 W STATE HIGHWAY 29)             | LIBERTY HILL |       51,392 |
| MARGARITA'S RESTAURANT (10280 W STATE HIGHWAY 29)    | LIBERTY HILL |       47,692 |
| ELENA'S BAR AND GRILL LLC (14801 W STATE HIGHWAY 29) | LIBERTY HILL |        7,562 |

In [27]:
location_sum('City', 'PFLUGERVILLE').limit(3).print_table(max_column_width=60)

| Establishment                                  | City         | Receipts_sum |
| ---------------------------------------------- | ------------ | ------------ |
| MAVERICKS (1700 GRAND AVENUE PKWY STE 240)     | PFLUGERVILLE |      130,489 |
| RIO GRANDE TEX MEX (15821 CENTRAL COMMERCE DR) | PFLUGERVILLE |       75,558 |
| HANOVER'S DRAUGHT HAUS (108 E MAIN ST)         | PFLUGERVILLE |       72,311 |

In [28]:
location_sum('City', 'ROUND ROCK').limit(5).print_table(max_column_width=60)

| Establishment                                             | City       | Receipts_sum |
| --------------------------------------------------------- | ---------- | ------------ |
| CHUY'S ROUND ROCK (2320 N INTERSTATE 35)                  | ROUND ROCK |      163,847 |
| JACK ALLEN'S KITCHEN (2500 HOPPE TRL)                     | ROUND ROCK |      143,263 |
| TWIN PEAKS RESTAURANT (100 LOUIS HENNA BLVD)              | ROUND ROCK |      139,663 |
| THIRD BASE ROUND ROCK, LLC (3107 S INTERSTATE 35 STE 810) | ROUND ROCK |      139,166 |
| RICK'S CABARET (3105 S INTERSTATE 35)                     | ROUND ROCK |      136,291 |

In [29]:
location_sum('City', 'SAN MARCOS').limit(5).print_table(max_column_width=60)

| Establishment                                              | City       | Receipts_sum |
| ---------------------------------------------------------- | ---------- | ------------ |
| ZELICKS (336 W HOPKINS ST)                                 | SAN MARCOS |      136,826 |
| THE MARC (120 E SAN ANTONIO ST)                            | SAN MARCOS |      115,050 |
| 54TH STREET RESTAURANT & DRAFTHOUSE (1303 S INTERSTATE 35) | SAN MARCOS |      111,309 |
| PLUCKERS WING BAR (105 N INTERSTATE 35)                    | SAN MARCOS |      105,568 |
| CHIMY'S SAN MARCOS (217 E HOPKINS ST)                      | SAN MARCOS |      105,410 |

In [30]:
location_sum('City', 'SPICEWOOD').limit(3).print_table(max_column_width=60)

| Establishment                                        | City      | Receipts_sum |
| ---------------------------------------------------- | --------- | ------------ |
| ANGEL'S ICEHOUSE (21815 W HWY 71)                    | SPICEWOOD |       71,245 |
| POODIES HILLTOP ROADHOUSE (22308 STATE HIGHWAY 71 W) | SPICEWOOD |       68,919 |
| APIS RESTAURANT (23526 STATE HIGHWAY 71 W)           | SPICEWOOD |       34,248 |

In [31]:
location_sum('City', 'SUNSET VALLEY').limit(3).print_table(max_column_width=60)

| Establishment                                          | City          | Receipts_sum |
| ------------------------------------------------------ | ------------- | ------------ |
| DOC'S BACKYARD (5207 BRODIE LN # 100)                  | SUNSET VALLEY |       94,720 |
| BJ'S RESTAURANT AND BREWHOUSE (5207 BRODIE LN STE 300) | SUNSET VALLEY |       68,792 |
| CANE ROSSO (4715 S LAMAR BLVD STE 103)                 | SUNSET VALLEY |       34,385 |

In [32]:
location_sum('City', 'WEST LAKE HILLS').limit(3).print_table(max_column_width=60)

| Establishment                                                | City            | Receipts_sum |
| ------------------------------------------------------------ | --------------- | ------------ |
| LUPE TORTILLA MEXICAN RESTAURANT (701 S CAPITAL OF TEXAS ... | WEST LAKE HILLS |       98,027 |
| CHIPOTLE CHIPOTLE MEXICAN GRILL CHIPOTLE BURRITOS (3300 B... | WEST LAKE HILLS |          557 |

## Sales by county
In this case, we pass in the location type of 'County' and then a county name in caps to get the most sales in a particular county.

In [33]:
# MOVE TO SEPARATE CELLS SO THEY DON'T FORCE A SCROLL
location_sum('County', 'BASTROP').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'CALDWELL').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'HAYS').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'TRAVIS').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'WILLIAMSON').limit(5).print_table(max_column_width=80)

| Establishment                                                   | County  | Receipts_sum |
| --------------------------------------------------------------- | ------- | ------------ |
| LOST PINES BEVERAGE LLC (575 HYATT LOST PINES ROAD)             | Bastrop |      591,717 |
| OLD TOWN RESTURANT AND BAR/PINEY CREEK CHOP HOUSE (931 MAIN ST) | Bastrop |       72,787 |
| NEIGHBOR'S (601 CHESTNUT ST UNIT C)                             | Bastrop |       48,001 |
| CHILI'S GRILL & BAR (734 HIGHWAY 71 W)                          | Bastrop |       47,840 |
| BACK 9 (834 HIGHWAY 71 W)                                       | Bastrop |       37,305 |


| Establishment                                               | County   | Receipts_sum |
| ----------------------------------------------------------- | -------- | ------------ |
| EL REY BAR/NIGHTCLUB (1721 S COMMERCE ST)                   | Caldwell |       33,001 |
| GUADALAJARA MEXICAN RESTAURANT (1710 S COLORADO ST STE 110) | Caldwell |       20,536 |
| THE PEARL (110 N MAIN ST)                                   | Caldwell |       16,896 |
| RISKY BUSINESS (211 E MARKET ST)                            | Caldwell |        9,599 |
| MR TACO (1132 E PIERCE ST)                                  | Caldwell |        9,354 |


| Establishment                                              | County | Receipts_sum |
| ---------------------------------------------------------- | ------ | ------------ |
| ZELICKS (336 W HOPKINS ST)                                 | Hays   |      136,826 |
| HAYS CITY STORE (8989 FM 150 W)                            | Hays   |      131,689 |
| TREATY OAK BREWING AND DISTILLING CO. (16604 FITZHUGH RD)  | Hays   |      125,636 |
| THE MARC (120 E SAN ANTONIO ST)                            | Hays   |      115,050 |
| 54TH STREET RESTAURANT & DRAFTHOUSE (1303 S INTERSTATE 35) | Hays   |      111,309 |


| Establishment                               | County | Receipts_sum |
| ------------------------------------------- | ------ | ------------ |
| WLS BEVERAGE CO (110 E 2ND ST)              | Travis |    1,010,792 |
| UNBARLIEVABLE (76 RAINEY ST)                | Travis |      593,445 |
| ROSE ROOM/ 77 DEGREES (11500 ROCK ROSE AVE) | Travis |      570,246 |
| CONTAINER BAR (90 RAINEY ST)                | Travis |      551,097 |
| FAIRMONT AUSTIN HOTEL (101 RED RIVER ST)    | Travis |      532,020 |


| Establishment                                                 | County     | Receipts_sum |
| ------------------------------------------------------------- | ---------- | ------------ |
| CHUY'S ROUND ROCK (2320 N INTERSTATE 35)                      | Williamson |      163,847 |
| CHUY'S (4911 183A TOLL RD)                                    | Williamson |      162,967 |
| THE GROVE WINE BAR AND KITCHEN (1310 E WHITESTONE BLVD # 500) | Williamson |      150,095 |
| JACK ALLEN'S KITCHEN (2500 HOPPE TRL)                         | Williamson |      143,263 |
| ALAMO DRAFTHOUSE CINEMA (14028 N HIGHWAY 183 BLDG F)          | Williamson |      143,216 |

## Sales by ZIP Code
A list of sales by ZIP Code. If anything other than 78701 is at the top, it is news.

In [34]:
# top zip code gross receipts
zip_receipts = mixbev.pivot('Zip', aggregation=agate.Sum('Receipts')).order_by('Sum', reverse=True)
zip_receipts.limit(5).print_table()

| Zip   |        Sum |
| ----- | ---------- |
| 78701 | 35,232,407 |
| 78205 | 15,170,483 |
| 75201 | 12,700,468 |
| 77002 | 11,925,810 |
| 78704 |  8,734,691 |