# Processing mixed beverage data

## Single-month sales report

This Jupyter Notebook uses data.texas.gov [Mixed Beverage Gross Receipts data](https://data.texas.gov/Government-and-Taxes/Mixed-Beverage-Gross-Receipts/naix-2893), and then a python library called [agate](http://agate.readthedocs.io/) to clean and process that data for [stories similar to this one](http://www.mystatesman.com/business/austin-alcohol-sales-percent-february/Oo2txZUkuDlqBl0rU9O1lJ/) on monthly alcohol sales.

There are two places where **last day of the month** has to be entered into the script, in YYYY-MM-DD format:
- `download_date` in the "Download" section
- `date_studied` in the "Setting up" section

For Jan 2018, use:

2018-01-31

**NOTE: I ran this on 2/26/2018 and the number of rows was low ... about 8k instead of 15k**

## Download

We're using the bash curl command to download our file from Socrata.

### Set download date

Make sure to set the `download_date` below to the last day of the month studied.

In [1]:
%%bash
download_date='2018-01-31'

socrata_data='https://data.texas.gov/resource/fp9t-htqh.json?'
socrata_limit='$limit=20000'
socrata_date='&$where=obligation_end_date_yyyymmdd%20=%20%27'$download_date'%27'
socrata_path=$socrata_data$socrata_limit$socrata_date

echo $socrata_path

curl -L -o ../mixbev-files/Mixed_Beverage_Gross_Receipts_$download_date.json \
$socrata_path

https://data.texas.gov/resource/fp9t-htqh.json?$limit=20000&$where=obligation_end_date_yyyymmdd%20=%20%272018-01-31%27

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5886k    0 5886k    0     0   543k      0 --:--:--  0:00:10 --:--:--  715k

## Set date_studied

It is imporant to change `date_studied` to the last day of the month studied:

In [2]:
# this should be the same as the download_date above.
date_studied = '2018-01-31'

## Set up python

We'll import the python libraries we need, and then set the date_studied, which is important to find the right file.

In [3]:
# import libraries
import agate
# this surpresses the timezone warning
# Might comment out during development so other warnings
# are not surpressed
import warnings
warnings.filterwarnings('ignore')

## Import the file

We set the path name based on `date_studied` above. We import the raw data, forcing some data types.

In [4]:
# This is the source file, which should be donwloaded
file_path = '../mixbev-files/Mixed_Beverage_Gross_Receipts_' + date_studied + '.json'

# Setting up to force column types for some columns
specified_types = {
    'cover_charge_receipts': agate.Number(),
    'taxpayer_number': agate.Text(),
    'taxpayer_zip': agate.Text(),
    'taxpayer_county': agate.Text(),
    'location_number': agate.Text(),
    'location_address': agate.Text(),
    'location_zip': agate.Text(),
    'location_county': agate.Text(),
}

# this imports the file specified above, along with the proper types
mixbev_raw = agate.Table.from_json(file_path, column_types=specified_types)

# Uncomment below to peek at column names
# print(mixbev_raw)

## Cleaning bad columns

There is a problem with the Comptroller data where two columns are incorrectly labeled. They are NOT used in the analysis, but we'll fix them anyway. It could be that the Comptroller will fix these in the future.

In [5]:
# renames two columns that are labelled incorrectly from original data
mixbev_fixed = mixbev_raw.rename(column_names = {
        'tabc_permit_number': 'inside_outside_city_limits_code',
        'inside_outside_city_limits_code_y_n': 'tabc_permit',
    }
)

# Uncomment below to see changed columns
# print(mixbev_fixed)

In [6]:
# establish our table of record
mixbev = mixbev_fixed

## Create establishment column

We do this so we make sure we have single establishments instead of grouping trade names together from different addresses, like 'CHILI'S BAR & GRILL'.

In [7]:
# Concatenates the name and address
mixbev_establishment = mixbev.compute([
    ('Establishment', agate.Formula(agate.Text(), lambda row: '%(location_name)s (%(location_address)s)' % row))
])

# Uncomment line below to print Establishment to check what is looks like
# mixbev_establishment.select('Establishment').limit(5).print_table(max_column_width=80)

In [8]:
# Uncomment below to see column names
# print(mixbev_establishment)

## Import and merge counties lookup table

We do this to get county names. I got this list from the comptroller.

NOTE: Wisdom would suggest we join on the code column from counites, but the data.texas.gov data does not have the zero padding from those values, so I'm using the id column.

In [9]:
# importing countes.csv, ensuring that the 'code' column is text
counties = agate.Table.from_csv('../resource-files/counties.csv', column_types={
    'code': agate.Text(),
    'id': agate.Text()
})

# uncomment below to peek at the column names and an example
# print(counties)
# counties.limit(5).print_table()

# joines the counties table to the mixed bev cleaned data with establishments
mixbev_joined = mixbev_establishment.join(counties, 'location_county', 'id')

# uncomment below to see merged column names 
# print(mixbev_joined)

In [10]:
# get just the columns we need and rename county
# THIS is the finished, cleaned mixbev table
mixbev = mixbev_joined.select([
    'location_name',
    'location_address',
    'Establishment',
    'location_city',
    'location_state',
    'location_zip',
    'county',
    'total_receipts',
    'obligation_end_date_yyyymmdd'
]).rename(column_names = {
    'location_name' : 'Name',
    'location_address' : 'Address',
    'location_city': 'City',
    'location_state': 'State',
    'location_zip': 'Zip',
    'total_receipts' : 'Receipts',
    'county': 'County',
    'obligation_end_date_yyyymmdd': 'Report date'
})

# peek at the column names
print(mixbev)

| column        | data_type |
| ------------- | --------- |
| Name          | Text      |
| Address       | Text      |
| Establishment | Text      |
| City          | Text      |
| State         | Text      |
| Zip           | Text      |
| County        | Text      |
| Receipts      | Number    |
| Report date   | DateTime  |

## Location sums function

Because we want to get the top sellers in a bunch of cities and couties, we create a function so we don't have to repeat the code. This function allows us to pass in a city or county name to filter the monthly receipts table and then sum the Tax and Receipts columns. The result can then be acted on to print or aggreggate. It is used later in the file.

In [11]:
# function to group sales by a specific location
# City or County passed in should be ALL CAPS
# Location_type can be 'City' or 'County'

def location_sum(location_type, location):
    # Filters the data to the specified city
    location_filtered = mixbev.where(lambda row: row[location_type].upper() == location)

    # groups the data based on Establishment and location
    location_grouped = location_filtered.group_by('Establishment').group_by(location_type)
    # computes the sales based on the grouping
    location_summary = location_grouped.aggregate([
        ('Receipts_sum', agate.Sum('Receipts'))
    ])
    
    # sorts the results by most sold
    location_summary_sorted = location_summary.order_by('Receipts_sum', reverse=True)
    # prints the top 10 results
    
    return(location_summary_sorted)

## Data checking
I make sure I'm looking the correct month, and to make sure the number of records is not hitting my download limit.

In [12]:
# double-checking I'm looking at one month of data
mixbev_dates = mixbev.select('Report date').distinct('Report date')
print('This report date should equal your date_studied:\n')
mixbev_dates.print_table()
print('\nIf the number of records below is 20000, increase the download limit.')
print('\nNumber of records in table: {}'.format(
        len(mixbev))
     )

This report date should equal your date_studied:

|         Report date |
| ------------------- |
| 2018-01-31 00:00:00 |

If the number of records below is 20000, increase the download limit.

Number of records in table: 8246

## Top sales statewide

Because we want to group our results by more than one field and perform more than one aggregation, we'll do this a little differently. We'll use group_by to create a grouped table, then perform aggregations on that new table to compute the Tax and Receipts columns.

In [13]:
# summing sales statewide for month

print('Total statewide sales for this month are: {}\n'.format(
    mixbev.aggregate(agate.Sum('Receipts')) # <<< I should format the number better
))

# groups the data based on Establishment and City
mixbev_grouped = mixbev.group_by('Establishment').group_by('County').group_by('City')

# computes the sales based on the grouping
state_summary = mixbev_grouped.aggregate([
    ('Sales_sum', agate.Sum('Receipts'))
])

# sorts the results by most sold. We could probalby chain it above if we wanted to.
state_summary_sorted = state_summary.order_by('Sales_sum', reverse=True)

# prints the top 10 results
state_summary_sorted.limit(10).print_table(max_column_width=40)

Total statewide sales for this month are: 330618367

| Establishment                            | County  | City        | Sales_sum |
| ---------------------------------------- | ------- | ----------- | --------- |
| GAYLORD TEXAN (1501 GAYLORD TRL)         | Tarrant | GRAPEVINE   | 1,888,248 |
| SALC, INC. (2201 N STEMMONS FWY FL 1)    | Dallas  | DALLAS      | 1,288,887 |
| THE POST OAK/MASTRO'S/WILLIE G'S (160... | Harris  | HOUSTON     |   921,740 |
| AT&T STADIUM (1 LEGENDS WAY)             | Tarrant | ARLINGTON   |   869,091 |
| ARAMARK SPORTS AND ENTERTAINMENT SERV... | Bexar   | SAN ANTONIO |   847,842 |
| MARRIOTT MARQUIS HOUSTON (1777 WALKER... | Harris  | HOUSTON     |   833,613 |
| HILTON AMERICAS - HOUSTON (1600 LAMAR... | Harris  | HOUSTON     |   795,923 |
| FOUR FAMILIES OF HOUSTON (7800 AIRPOR... | Harris  | HOUSTON     |   723,980 |
| SHERATON HOTEL AND CONVENTION CENTER ... | Dallas  | DALLAS      |   627,480 |
| DALLAS REGENCY CORPORATION (300 REUNI... | Dallas  | DALLAS      |   622,613 |

## Austin sales and sums

With this, we reference the location_sum function above, and pass the type of location (City) and the name of the city (AUSTIN). At the same time, we limit number of recoreds in the return, and then print the results. We are basically stringing together a bunch of stuff at once.

In [14]:
# Austin total sales as s city
# This sums the grouped table, but it works

print('Total sales in Austin are: {}\n'.format(
    location_sum('City', 'AUSTIN').aggregate(agate.Sum('Receipts_sum'))
))

# uses the city_sum function to filter
austin = location_sum('City', 'AUSTIN')


# print the resulting table
print('Top sellers in Austin are:\n')
austin.limit(25).print_table(max_column_width=60, max_rows=None)

Total sales in Austin are: 38116051

Top sellers in Austin are:

| Establishment                                                | City   | Receipts_sum |
| ------------------------------------------------------------ | ------ | ------------ |
| SALC. INC.(HILTON HOTEL) (500 E 4TH ST)                      | AUSTIN |      522,847 |
| ALAMO DRAFTHOUSE CINEMA (1120 S LAMAR BLVD)                  | AUSTIN |      432,929 |
| 400 BAR/CUCARACHA/CHUPACABRA/JACKALOPE/MOOSENUCKLE (400 E... | AUSTIN |      416,855 |
| ROSE ROOM/ 77 DEGREES (11500 ROCK ROSE AVE)                  | AUSTIN |      387,671 |
| DH BEVERAGE LLC (604 BRAZOS ST)                              | AUSTIN |      332,297 |
| CULINARY DROPOUT (11721 ROCK ROSE AVE STE Y4.100)            | AUSTIN |      326,267 |
| THE PALAZIO (501 E BEN WHITE BLVD)                           | AUSTIN |      319,437 |
| TOP GOLF (2700 ESPERANZA XING)                               | AUSTIN |      312,561 |
| THE DOGWOOD DOMAIN (11420 ROCK ROSE AVE STE 700)             | AUSTIN |      311,417 |
| HOTEL VAN ZANDT (605 DAVIS ST)                               | AUSTIN |      293,352 |
| W HOTEL AUSTIN (200 LAVACA ST)                               | AUSTIN |      291,089 |
| KUNG FU SALOON (11501 ROCK ROSE AVE STE 140)                 | AUSTIN |      290,300 |
| OJOS LOCOS SPORTS CANTINA (7522 N INTERSTATE 35 STE B)       | AUSTIN |      278,915 |
| MATT'S EL RANCHO, INC. (2613 S LAMAR BLVD)                   | AUSTIN |      274,581 |
| EDDIE V'S PRIME SEAFOOD (301 E 5TH ST)                       | AUSTIN |      256,588 |
| PERRY'S STEAKHOUSE & GRILLE (114 W 7TH ST STE 110)           | AUSTIN |      244,185 |
| SOUTH CONGRESS HOTEL (1603 S CONGRESS AVE)                   | AUSTIN |      242,434 |
| GREEN LIGHT SOCIAL (720 W 6TH ST)                            | AUSTIN |      238,615 |
| UNBARLIEVABLE (76 RAINEY ST)                                 | AUSTIN |      237,904 |
| SAN JACINTO BEVERAGE COMPANY LLC (98 SAN JACINTO BLVD)       | AUSTIN |      236,616 |
| JEFFREY'S RESTAURANT & BAR/JOSEPHINE HOUSE (1202 W LYNN ST)  | AUSTIN |      234,517 |
| KUNG FU SALOON (716 W 6TH ST)                                | AUSTIN |      228,339 |
| LUSTRE PEARL (94 RAINEY ST)                                  | AUSTIN |      228,208 |
| REGENCY BEVERAGE COMPANY (208 BARTON SPRINGS RD)             | AUSTIN |      221,004 |
| CONTAINER BAR (90 RAINEY ST)                                 | AUSTIN |      218,934 |

## More Central Texas cities
More of the same for different cities.

In [15]:
location_sum('City', 'BASTROP').limit(5).print_table(max_column_width=60)

| Establishment                                        | City    | Receipts_sum |
| ---------------------------------------------------- | ------- | ------------ |
| CHILI'S GRILL & BAR (734 HIGHWAY 71 W)               | BASTROP |       51,987 |
| NEIGHBOR'S (601 CHESTNUT ST UNIT C)                  | BASTROP |       25,503 |
| MORELIA MEXICAN GRILL (696 HIGHWAY 71 W STE 304)     | BASTROP |       21,175 |
| EL NUEVO MEXICO RESTAURANT BASTROP (201 CHILDERS DR) | BASTROP |       18,323 |
| COPPER SHOT DISTILLERY (601 CHESTNUT ST STE E)       | BASTROP |        8,676 |

In [16]:
location_sum('City', 'BEE CAVE').limit(3).print_table(max_column_width=60)

| Establishment                                  | City     | Receipts_sum |
| ---------------------------------------------- | -------- | ------------ |
| MAUDIE'S HILL COUNTRY, LLC (12506 SHOPS PKWY)  | BEE CAVE |       70,165 |
| HCG BEVERAGE, LLC (12525 BEE CAVE PKWY)        | BEE CAVE |       48,229 |
| CHILI'S GRILL & BAR #1542 (12713 GALLERIA CIR) | BEE CAVE |       36,791 |

In [17]:
location_sum('City', 'BUDA').limit(3).print_table(max_column_width=60)

| Establishment                                               | City | Receipts_sum |
| ----------------------------------------------------------- | ---- | ------------ |
| NATE'S AT BUDA MILL AND GRAIN, INC. (306 S MAIN ST STE 101) | BUDA |       55,731 |
| CHILI'S GRILL & BAR (420 OLD SAN ANTONIO RD)                | BUDA |       48,527 |
| BROOKLYN'S DOWN SOUTH (100 N MAIN ST)                       | BUDA |       43,972 |

In [18]:
location_sum('City', 'DEL VALLE').limit(3).print_table(max_column_width=60)

| Establishment                                                | City      | Receipts_sum |
| ------------------------------------------------------------ | --------- | ------------ |
| RYAN SANDERS SPORTS SERVICES, LLC (9201 CIRCUIT OF THE AM... | DEL VALLE |          978 |

In [19]:
location_sum('City', 'CEDAR PARK').limit(3).print_table(max_column_width=60)

| Establishment                                              | City       | Receipts_sum |
| ---------------------------------------------------------- | ---------- | ------------ |
| CHUY'S (4911 183A TOLL RD)                                 | CEDAR PARK |      112,000 |
| LUPE TORTILLA MEXICAN RESTAURANT (4501 183A TOLL RD STE B) | CEDAR PARK |       95,784 |
| PLUCKERS WING BAR (11066 PECAN PARK BLVD STE G)            | CEDAR PARK |       90,804 |

In [20]:
location_sum('City', 'DRIPPING SPRINGS').limit(3).print_table(max_column_width=60)

| Establishment                                         | City             | Receipts_sum |
| ----------------------------------------------------- | ---------------- | ------------ |
| FLORES MEXICAN RESTAURANT (2440 E HIGHWAY 290 BLDG D) | DRIPPING SPRINGS |       51,677 |
| DEEP EDDY DISTILLING CO (2250 E HIGHWAY 290)          | DRIPPING SPRINGS |       38,952 |
| PROOF & COOPER (18800 HAMILTON POOL RD)               | DRIPPING SPRINGS |       28,008 |

In [21]:
location_sum('City', 'GEORGETOWN').limit(3).print_table(max_column_width=60)

| Establishment                        | City       | Receipts_sum |
| ------------------------------------ | ---------- | ------------ |
| EL MONUMENTO (205 W 2ND ST)          | GEORGETOWN |       69,640 |
| HARDTAILS (1515 N IH 35)             | GEORGETOWN |       61,061 |
| DOS SALSAS CAFE INC (1104 S MAIN ST) | GEORGETOWN |       59,524 |

In [22]:
location_sum('City', 'KYLE').limit(3).print_table(max_column_width=60)

| Establishment                                  | City | Receipts_sum |
| ---------------------------------------------- | ---- | ------------ |
| EVO ENTERTAINMENT CENTER (3200 KYLE XING)      | KYLE |       53,507 |
| APPLEJAM BEVERAGE (5363 KYLE CENTER DR)        | KYLE |       27,405 |
| KOY CHINESE AND SUSHI (5695 KYLE PKWY STE 800) | KYLE |        7,740 |

In [23]:
location_sum('City', 'LAGO VISTA').limit(3).print_table(max_column_width=60)

| Establishment                                         | City       | Receipts_sum |
| ----------------------------------------------------- | ---------- | ------------ |
| THE GRILLE AT HIGHLAND LAKES (20552 HIGHLAND LAKE DR) | LAGO VISTA |       20,374 |
| COPPERHEAD GRILL (6115 LOHMANS FORD RD)               | LAGO VISTA |       17,213 |
| THE GNARLY GAR (18200 LAKEPOINT CV)                   | LAGO VISTA |       13,772 |

In [24]:
location_sum('City', 'LAKEWAY').limit(3).print_table(max_column_width=60)

| Establishment                                                | City    | Receipts_sum |
| ------------------------------------------------------------ | ------- | ------------ |
| LAKEWAY RESORT AND SPA (101 LAKEWAY DR)                      | LAKEWAY |       76,954 |
| THE LEAGUE (1310 RANCH ROAD 620 S)                           | LAKEWAY |       63,822 |
| FLORES MEXICAN RESTAURANT (2127 LOHMANS CROSSING RD STE 318) | LAKEWAY |       50,917 |

In [25]:
location_sum('City', 'LEANDER').limit(3).print_table(max_column_width=60)

| Establishment                                                | City    | Receipts_sum |
| ------------------------------------------------------------ | ------- | ------------ |
| BROOKLYN HEIGHTS PIZZERIA (3550 LAKELINE BLVD STE 135)       | LEANDER |       58,093 |
| DA-FAN CLUB BAR & GRILL (15609 RONALD W REAGAN BLVD BLDG ... | LEANDER |            0 |
| SQUARE PEG DISTILLING (11894 OLD 2243 W STE A)               | LEANDER |            0 |

In [26]:
location_sum('City', 'LIBERTY HILL').limit(3).print_table(max_column_width=60)

| Establishment                                     | City         | Receipts_sum |
| ------------------------------------------------- | ------------ | ------------ |
| MARGARITA'S RESTAURANT (10280 W STATE HIGHWAY 29) | LIBERTY HILL |       30,236 |

In [27]:
location_sum('City', 'PFLUGERVILLE').limit(3).print_table(max_column_width=60)

| Establishment                                       | City         | Receipts_sum |
| --------------------------------------------------- | ------------ | ------------ |
| MAVERICKS (1700 GRAND AVENUE PKWY STE 240)          | PFLUGERVILLE |      136,233 |
| RIO GRANDE TEX MEX (15821 CENTRAL COMMERCE DR)      | PFLUGERVILLE |       53,384 |
| CHILI'S GRILL & BAR (18901 LIMESTONE COMMERCIAL DR) | PFLUGERVILLE |       52,953 |

In [28]:
location_sum('City', 'ROUND ROCK').limit(5).print_table(max_column_width=60)

| Establishment                                | City       | Receipts_sum |
| -------------------------------------------- | ---------- | ------------ |
| TWIN PEAKS RESTAURANT (100 LOUIS HENNA BLVD) | ROUND ROCK |      135,022 |
| JACK ALLEN'S KITCHEN (2500 HOPPE TRL)        | ROUND ROCK |      131,124 |
| RICK'S CABARET (3105 S INTERSTATE 35)        | ROUND ROCK |      119,474 |
| CHUY'S ROUND ROCK (2320 N INTERSTATE 35)     | ROUND ROCK |      106,693 |
| PLUCKERS WING BAR (300 MAYS XING STE 300)    | ROUND ROCK |       99,345 |

In [29]:
location_sum('City', 'SAN MARCOS').limit(5).print_table(max_column_width=60)

| Establishment                                              | City       | Receipts_sum |
| ---------------------------------------------------------- | ---------- | ------------ |
| PLUCKERS WING BAR (105 N INTERSTATE 35)                    | SAN MARCOS |      107,476 |
| THE MARC (120 E SAN ANTONIO ST)                            | SAN MARCOS |       94,492 |
| 54TH STREET RESTAURANT & DRAFTHOUSE (1303 S INTERSTATE 35) | SAN MARCOS |       93,390 |
| ZELICKS (336 W HOPKINS ST)                                 | SAN MARCOS |       90,253 |
| MAYLOO'S (138 N LBJ DR)                                    | SAN MARCOS |       85,684 |

In [30]:
location_sum('City', 'SPICEWOOD').limit(3).print_table(max_column_width=60)

| Establishment                                      | City      | Receipts_sum |
| -------------------------------------------------- | --------- | ------------ |
| ANGEL'S ICEHOUSE (21815 W HWY 71)                  | SPICEWOOD |       40,114 |
| IRON WOLF RANCH & DISTILLERY (101 COUNTY ROAD 409) | SPICEWOOD |        8,038 |
| THE AUSTIN GOLF CLUB (24900 STATE HIGHWAY 71 W)    | SPICEWOOD |        3,973 |

In [31]:
location_sum('City', 'SUNSET VALLEY').limit(3).print_table(max_column_width=60)

| Establishment                                          | City          | Receipts_sum |
| ------------------------------------------------------ | ------------- | ------------ |
| BJ'S RESTAURANT AND BREWHOUSE (5207 BRODIE LN STE 300) | SUNSET VALLEY |       64,733 |
| DOC'S BACKYARD (5207 BRODIE LN # 100)                  | SUNSET VALLEY |       54,261 |
| CANE ROSSO (4715 S LAMAR BLVD STE 103)                 | SUNSET VALLEY |       27,683 |

In [32]:
location_sum('City', 'WEST LAKE HILLS').limit(3).print_table(max_column_width=60)

| Establishment                                                | City            | Receipts_sum |
| ------------------------------------------------------------ | --------------- | ------------ |
| LUPE TORTILLA MEXICAN RESTAURANT (701 S CAPITAL OF TEXAS ... | WEST LAKE HILLS |       82,971 |

## Sales by county
In this case, we pass in the location type of 'County' and then a county name in caps to get the most sales in a particular county.

In [33]:
# MOVE TO SEPARATE CELLS SO THEY DON'T FORCE A SCROLL
location_sum('County', 'BASTROP').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'CALDWELL').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'HAYS').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'TRAVIS').limit(5).print_table(max_column_width=80)
print('\n')
location_sum('County', 'WILLIAMSON').limit(5).print_table(max_column_width=80)

| Establishment                                        | County  | Receipts_sum |
| ---------------------------------------------------- | ------- | ------------ |
| LOST PINES BEVERAGE LLC (575 HYATT LOST PINES ROAD)  | Bastrop |      371,930 |
| CHILI'S GRILL & BAR (734 HIGHWAY 71 W)               | Bastrop |       51,987 |
| NEIGHBOR'S (601 CHESTNUT ST UNIT C)                  | Bastrop |       25,503 |
| MORELIA MEXICAN GRILL (696 HIGHWAY 71 W STE 304)     | Bastrop |       21,175 |
| EL NUEVO MEXICO RESTAURANT BASTROP (201 CHILDERS DR) | Bastrop |       18,323 |


| Establishment                                               | County   | Receipts_sum |
| ----------------------------------------------------------- | -------- | ------------ |
| EL REY BAR/NIGHTCLUB (1721 S COMMERCE ST)                   | Caldwell |       19,255 |
| GUADALAJARA MEXICAN RESTAURANT (1710 S COLORADO ST STE 110) | Caldwell |       18,166 |
| THE PEARL (110 N MAIN ST)                                   | Caldwell |       12,473 |
| AUSTRIAN FARMS OF TEXAS LLC (4607 FM 86)                    | Caldwell |            8 |
| HIDEOUS, L.C. (5276 BARTH RD)                               | Caldwell |            0 |


| Establishment                                              | County | Receipts_sum |
| ---------------------------------------------------------- | ------ | ------------ |
| PLUCKERS WING BAR (105 N INTERSTATE 35)                    | Hays   |      107,476 |
| THE MARC (120 E SAN ANTONIO ST)                            | Hays   |       94,492 |
| 54TH STREET RESTAURANT & DRAFTHOUSE (1303 S INTERSTATE 35) | Hays   |       93,390 |
| ZELICKS (336 W HOPKINS ST)                                 | Hays   |       90,253 |
| MAYLOO'S (138 N LBJ DR)                                    | Hays   |       85,684 |


| Establishment                                                     | County | Receipts_sum |
| ----------------------------------------------------------------- | ------ | ------------ |
| SALC. INC.(HILTON HOTEL) (500 E 4TH ST)                           | Travis |      522,847 |
| ALAMO DRAFTHOUSE CINEMA (1120 S LAMAR BLVD)                       | Travis |      432,929 |
| 400 BAR/CUCARACHA/CHUPACABRA/JACKALOPE/MOOSENUCKLE (400 E 6TH ST) | Travis |      416,855 |
| ROSE ROOM/ 77 DEGREES (11500 ROCK ROSE AVE)                       | Travis |      387,671 |
| DH BEVERAGE LLC (604 BRAZOS ST)                                   | Travis |      332,297 |


| Establishment                                        | County     | Receipts_sum |
| ---------------------------------------------------- | ---------- | ------------ |
| ALAMO DRAFTHOUSE CINEMA (14028 N HIGHWAY 183 BLDG F) | Williamson |      188,444 |
| TWIN PEAKS RESTAURANT (100 LOUIS HENNA BLVD)         | Williamson |      135,022 |
| JACK ALLEN'S KITCHEN (2500 HOPPE TRL)                | Williamson |      131,124 |
| MAIN EVENT (13301 N HIGHWAY 183 STE A)               | Williamson |      118,846 |
| CHUY'S (4911 183A TOLL RD)                           | Williamson |      112,000 |

## Sales by ZIP Code
A list of sales by ZIP Code. If anything other than 78701 is at the top, it is news.

In [34]:
# top zip code gross receipts
zip_receipts = mixbev.pivot('Zip', aggregation=agate.Sum('Receipts')).order_by('Sum', reverse=True)
zip_receipts.limit(5).print_table()

| Zip   |        Sum |
| ----- | ---------- |
| 78701 | 14,450,201 |
| 75201 |  6,127,685 |
| 78205 |  5,964,638 |
| 78704 |  5,165,741 |
| 76051 |  4,694,965 |